body {
  /*    background-color: #ECEFF4;*/
  background-color: bisque;
  margin-top: 0;
  margin: 0;
}

.Pagina-inicial {
  color: #2e3440;
  font-size: 25px;
  text-align: center;
  padding: 70px;
  background-size: 100px;
  border: solid;
  border-radius: 59px;
  background-color: antiquewhite;
  border-color: antiquewhite;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 7%;
}
p {
  font-size: 20px;
  color: #2e3440;
}

h1 {
  color: #4b3621;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  text-align: center;
  padding-right: 14px;
  margin: 0;
}

h2 {
  color: #4b3621;
  font-size: 30px;
}

a:hover {
  color: #ebcb8b !important;
}

#Logo {
  float: left;
  margin-top: 10px;
  width: 52px;
  height: 52px;
  padding-right: 14px;
}

#Sol {
  float: right;
  margin-top: 10px;
}

img,
iframe {
  position: center;
}

.Artigos-individual {
  max-width: 100%;
  color: yellow;
  display: flex;
  justify-content: center;
}

.Artigos-individual a {
  color: #4b3621;
  text-decoration: none;
  font-size: 28px;
}

#Artigos {
  background-color: #d2b48c;
}

.cabecalho {
  display: flex;
  justify-content: center;
  border: solid 5px #964b00;
  position: fixed;
  top: 0;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.cabecalho li {
  list-style-type: none;
  padding-right: 14px;
  padding-top: 20px;
  padding-left: 14px;
  padding-bottom: 25px;
}
.Pessoal {
  border: solid;
  border-color: #ebcb8b;
  border-radius: 100%;
  border-width: 7px;

}
.Pessoal:hover {
  border: solid;
  border-radius: 0%;
  border-width: 7px;
  border-color: #ebcb8b;
  width: 350px;
  height: 350px;
}

.desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 200px;
  background-color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 50px;
}
.texto{
  margin-left: 20%;
  margin-right: 20%;
}
.racas{
  text-align: center;
}
